body {
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   margin: 30px auto;
    min-width: 250px;
    max-width: 50%;

  }
  * {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  ul li:nth-child(even) {
  background: #f9f9f9;
  }
  ul li:hover {
    background: #ddd;
  }
  ul li.checked {
    background:gray;
    color: white;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color:rgba(255, 0, 0, 0.648);
    color: white;
  }
  .header {
    background-color: rgba(0, 0, 0, 0.557);

    padding: 10px 20px;
    color: white;
    text-align: center;
 border-radius: 1%;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  .addBtn:hover {
    background-color: rgba(187, 187, 187, 0.801);
    border-color: black;
  }
  #clear-list{
    width: 20%;
    font-weight: lighter;
    font-style: italic;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 40%;
    background-color: #df4e34;
    color: white;
    border-color:wheat;
  }
  #clear-list:hover{
    background-color: red;
    color: white;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 0.3s ease;
    border-color:black;
  }
  #p{
    float: right;
    border-radius: 15%;
    border-color:black;
}
  #p:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 0.3s ease;
    color: #000000;
    font-weight: bold;
}
h1{
    float: left;
}